# NOTE: Couldn't get "pip freeze" to work on Windows + Pycharm. So, I scanned my venv dir and dumped the listing

beautifulsoup4-4.8.2.dist-info
bokeh
bokeh-2.0.0-py3.7.egg-info
bs4
dateutil
html5lib
html5lib-1.0.1.dist-info
jinja2
Jinja2-2.11.1.dist-info
lxml
lxml-4.5.0.dist-info
markupsafe
MarkupSafe-1.1.1.dist-info
numpy
numpy-1.18.1.dist-info
packaging
packaging-20.3.dist-info
pandas
pandas-1.0.1.dist-info
PIL
Pillow-7.0.0.dist-info
pyparsing-2.4.6.dist-info
pyparsing.py
python_dateutil-2.8.1.dist-info
pytz
pytz-2019.3.dist-info
PyYAML-5.3.dist-info
selenium
selenium-3.141.0.dist-info
six-1.14.0.dist-info
six.py
soupsieve
soupsieve-2.0.dist-info
tornado
tornado-6.0.4.dist-info
typing_extensions-3.7.4.1.dist-info
typing_extensions.py
urllib3
urllib3-1.25.8.dist-info
webencodings
webencodings-0.5.1.dist-info
yaml